<section> 

<article>
<form action=<%=func  %>  id="formstand" method="post">
    
<div class="blockform">
   <h2>stand</h2>
    <input type="text" name="name" id="standname"placeholder="stand name">
    <input type="text" name="user" id="standuser"placeholder="stand user">
    <input type="text" name="desc" id="description" placeholder="description">
    <input type="text" name="img" id="img"placeholder="image url">
    <input type="color" name="color" id="color" placeholder="color of graph">
</div>
<div class="blockform">
    <h2>atributes</h2>
       <select name="power" id="power" >
            <option value="150,35">A</option>
            <option value="150,45">B</option>
            <option value="150,55">C</option>
            <option value="150,60">D</option>
            <option value="150,70">E</option>			
       </select>
       <select name="speed" id="speed">
             <option value="220,55">A</option>
            <option value="200,60">B</option>
             <option value="185,65">C</option>
             <option value="175,70">D</option>
            <option value="160,70">E</option>
       </select>
       <select name="range" id="range">
            <option value=" 220,95">A</option>
            <option value="200,90">B</option>
            <option value="195,85">C</option>
            <option value="170,85">D</option>
            <option value="160,80">E</option>
       </select>
       <select name="durability" id="durability">
            <option value="150,112">A</option>
            <option value="150,105">B</option>
            <option value="150,100">C</option>
            <option value="150,90">D</option>
            <option value="150,85">E</option>

       </select>
       <select name="precision" id="precision">
    <option value="85,95">A</option>
    <option value="100,90">B</option>
     <option value="110,85">C</option>
    <option value="115,75">D</option>
    <option value="140,80">E</option>

       </select>


       <select name="potential" id="potential">
        <option value="80,55">A</option>
        <option value="100,60">B</option>
        <option value="110,65">C</option>
        <option value="130,60">D</option>
        <option value="140,70">E</option>

</select>

<input type="submit" value="criar" id="submite">
<input type="reset" value="reset" id="reset">
</form>
    </div>

    </article>
    <article id="standsblocks">
        <%for(let i in data) { %> 
        <div class="standbloco">
            <img src=<%=data[i].img  %>  alt="">
            <div class="control">
                <a href="/admin/del/<%=data[i].id%>">apagar</a><a href="/admin/edit/<%=data[i].id%> ">editar</a>
            </div>
        </div>
<%}  %> 

    </article>


    <a href="exit" id="exit"><h2>sair</h2></a>
    </section>
<script>
const power=document.querySelector('#power')
const speed=document.querySelector('#speed')
const range=document.querySelector('#range')
const durability=document.querySelector('#durability')
const precision=document.querySelector('#precision')
const potential=document.querySelector('#potential')
const standname=document.querySelector('#standname')
const standuser=document.querySelector('#standuser')
const description=document.querySelector('#description')
const img=document.querySelector('#img')
const color=document.querySelector('#color')
power.value='<%=obj.power%>'
range.value='<%=obj.range%>'
speed.value='<%=obj.speed%>'
durability.value='<%=obj.durability%>'
precision.value='<%=obj.precision%>'
potential.value='<%=obj.potential%>'
standname.value='<%=obj.name%>'
standuser.value='<%=obj.user%>'
description.value='<%=obj.desc%>'
img.value='<%=obj.img%>'
color.value='<%=obj.color%>'
</script>