<section>
    <article class="aviso">
        ⭐the JoJo's API is free, to help us with our projects via donation⭐
    </article>

    <article id="guide">
        <h2>guide</h2>
        <p>the stands have the attributes:
        <ul>
            <li><b>name:</b> name of stand</li>
            <li><b>user:</b>user of stand</li>
            <li><b>description:</b> description of powers</li>
            <li><b>image:</b> image of stand</li>
            <li><b>color:</b> color for the background of stand</li>
            <li><b>stats:</b> (for the graph)</li>
        </ul>
        </p>
        <p>the API is constantly adjusting the lists of stands that are already in it:</p>
        <div id="standsguide">
            <%for (let i in data) {%>

                <a href="/stands/get/<%=data[i]?.id || ''%>" target="_blank" class="std">

                    <ul style="background-image:linear-gradient(black,'<%=data[i]?.color || ''%>;')">
                        <li>
                            <%=data[i]?.name %>
                        </li>
                        <li>id: <%=data[i]?.id%>
                        </li>
                        <li>number: <%=i%>
                        </li>


                    </ul>
                    <img src=<%=data[i]?.img || '' %> alt="stando">


                </a>

                <% } %>
        </div>

    </article>
</section>