
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="the Rest Api of jojo's bizarre adventures">
    <meta name="keywords" content="jojo, jojo's bizarre adventures, jojoapi, JOJOAPI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="./img/logo.png">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>JOJO's API</title>
</head>
<body >
    <div id="conteudo">
  <%-include('./partials/header-banner.ejs')  %> 
  <%if(key=="home") { %> 
  <%-include('./partials/section.ejs')  %> 
 <% } %> 
 <%if(key=="how"){ %>
    <%-include('./partials/howtouse.ejs')  %> 
    
    <% } %>  
    <%if(key=="about"){ %>
        <%-include('./partials/about.ejs')  %> 
        
        <% } %>  
        <%if(key=="hex"){ %>
            <%-include('./partials/hexagraph.ejs')  %> 
            
            <% } %>  
    
    <%if(key=="guide") { %>
        <%-include('./partials/guide.ejs')  %> 
        <% } %>  
  <%-include('./partials/footer.ejs')  %> 
         

</div>

</body>
</html>